.action__btn {
  font-size: 60px;
  padding: 45px;

  &.active {
    background-color: #CDCDCD;
  }

  &:hover {
    cursor: pointer;
    background-color: #EFEFEF;
  }
}

.action__prompt {
  margin-bottom: 5%;
}

.naked-a {
  color: #333;

  &:hover {
    color: #333;
  }
}

.big-margin-top {
  margin-top: 20px;
}
